<!DOCTYPE html>
<html>
  <title>
    Login
  </title>
  <div class="header">
    Crowd Music
  </div>
  <link href="../static/login.css" rel="stylesheet" type="text/css" />
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="login.js"></script>
  <div class="login-page">
    <div class="split left">
      <div class="text">
        CREATE ROOM AS HOST
      </div>
      <form class="login-form">
        <input type="text" placeholder="username" id="create_username" />
        <button onClick="create()">create room</button>
      </form>
    </div>
    <div class="split right">
      <div class="text">
        JOIN EXISTING ROOM
      </div>
      <form class="login-form">
        <input type="text" placeholder="username" id="join_username" />
        <input type="text" placeholder="room id" id="join_roomid" />
        <button onClick="join()">join room</button>
      </form>
    </div>
  </div>
</html>
