<!DOCTYPE html>
<html>
  <title>
    Room
  </title>
  <div class="header">
    ROOM
  </div>
  <link href="../static/room_user.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="room_user.js"></script>
  <div class="room_user-page">

    <div class="song cs">
      <div class="song_text">
        CURRENT SONG
      </div>
    </div>


    <div class="song q">
      <div class="song_text">
        SONG QUEUE
      </div>
    </div>
    
    <div class="song add">
      <div class="song_text">
        ADD SONG
      </div>
      <form class="add_song-form">
        <input type="song_text" placeholder="Song Name" id="add_song" />
        <button onClick="____()">Add To Queue</button>
      </form>

    </div>

  </div>
</html>
